{{- define "main" }}
<div class="contact" itemscope itemtype="https://schema.org/BlogPosting">
  <section class="contact-form wrap">
    <div>
      {{ .Content }}
      <!-- <form method="POST" action="/api/submit-contact-form" aria-label="JRH Contact form"> -->
      <form id="enquiryform" action="https://submit-form.com/6ga0qjI34" method="POST" aria-label="JRH contact form">
        <input type="hidden" name="_redirect" value="/thank-you/" />
        <input type="hidden" name="_append" value="false" />
        <input type="hidden" name="subject" value="JRH Contact request" />
        <fieldset>
          <p>
            <label for="name">Your name</label>
            <input name="name" id="name" type="text" maxlength="25" autocomplete="name" placeholder="My name is" required />
          </p>

          <p>
            <label for="email">Your email</label>
            <input name="email" id="email" type="email" autocomplete="email" placeholder="My email address is" maxlength="100" required />
          </p>

          <p class="honey">
            <label for="contact-name"
              >Contact name
              <input id="contact-name" type="text" name="contact-name" />
            </label>
          </p>

          <p>
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
          </p>

          <p class="standard-button">
            <button type="submit">Submit the form</button>
          </p>
        </fieldset>
      </form>
      <blockquote>
        <p>I can't manage without homeopathy. I never go anywhere without homeopathic remedies. I use them often.</p>
      </blockquote>
      <cite>Paul McCartney</cite>
    </div>
  </section>
</div>
{{- end }}{{/* end main */}}
