{{- define "main" }}
<div class="contact" itemscope itemtype="https://schema.org/BlogPosting">
  <h1> Frequently asked questions</h1>
  <section class="faq wrap">
    <div>
      {{ .Content }} {{ $index := 0}} {{ range $faqkey, $faqvalue := $.Param "faq" }}
      <details>
        <summary>{{$faqvalue.question}}<span>+</span></summary>
        <aside class="faqanswer">{{markdownify $faqvalue.answer}}</aside>
      </details>
      <hr />
      {{- end -}}
    </div>
  </section>
</div>
{{- end }}{{/* end main */}}
