{{- define "main" }}
<div class="contact" itemscope itemtype="https://schema.org/BlogPosting">
  <section class="faq wrap">
    <h1>Frequently asked questions</h1>
    <div class="faq-set">
      {{ .Content }} {{ $index := 0}} {{ range $faqkey, $faqvalue := $.Param "faq" }}
      <details>
        <summary>{{$faqvalue.question}}<span>+</span></summary>
        <aside class="faqanswer">{{markdownify $faqvalue.answer}}</aside>
      </details>
      <hr />
      {{- end -}}
    </div>
    <p class="standard-button">
      <a href="/">Contact</a>
    </p>
  </section>
</div>
{{- end }}{{/* end main */}}
