details {
  padding: 1em 0;
  summary {
    font-family: var(--sans-serif-medium);
    display: flex;
    justify-content: space-between;
    gap: 2em;
    cursor: pointer;
    span {
      transition: rotate var(--transition-time) var(--transition-ease);
    }
    &::marker {
      content: "";
    }
  }
}
details[open] {
  summary {
    span {
      rotate: -45deg;
    }
  }
}

::details-content {
  transition:
    height var(--transition-time) var(--transition-ease),
    margin-top var(--transition-time) var(--transition-ease),
    content-visibility var(--transition-time) var(--transition-ease) allow-discrete;
  height: 0;
  overflow: clip;
  margin-top: 0;
}

/* Browser supports interpolate-size */
@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }

  [open]::details-content {
    height: auto;
    margin-top: 1em;
  }
}
