details {
  padding: 1em 0;
  summary {
    font-family: var(--sans-serif-medium);
    display: flex;
    justify-content: space-between;
    gap: 1em;
    cursor: pointer;
    span {
      transition: transform var(--transition-time) var(--transition-ease);
    }
    &::marker {
      content: "";
    }
  }
}
details[open] {
  summary {
    span {
      rotate: 45deg;
    }
  }
  // .faqanswer {
  //   padding-top: 1em;
  // }
}

::details-content {
  transition:
    height 0.5s ease,
    content-visibility 0.5s ease allow-discrete;
  height: 0;
  overflow: clip;
}

/* Browser supports interpolate-size */
@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }

  [open]::details-content {
    height: auto;
  }
}
